* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
  margin: 3rem auto;
  max-width: 1300px;
  padding: 1em;
  width: 100%;
}




