.loading {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
}

.detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: sans-serif;

    background-image: url("https://imgs.search.brave.com/0uKl7s15z0XDuRzlwt98Zbz7oid4Eye30tHtlO7ubWY/rs:fit:1200:1000:1/g:ce/aHR0cDovL3d3dy5w/bmdhbGwuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE2LzA3/L1NwYWNlLUZyZWUt/UE5HLUltYWdlLnBu/Zw");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 78vh;

    &__img {
        display: flex;
        min-width: 60%;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
        display: block;
    }
    
    &__information {
        display: flex;
        align-items: center;
        min-height: 50%;
        flex-direction: column;        
        color: white;
        background-color: rgba(36, 33, 33, 0.671);

        h2 {
           margin: 4rem 0 6rem 0; 
           font-size: 4rem;
        }

        p {
            margin: 0.5rem;
            font-size: 1.6rem;
            font-weight: 600;
            letter-spacing: 2px;
        }

    }
}