* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.cardContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
}

.container {
   margin: 3rem auto;
   max-width: 1200px;
   padding: 1em;
   width: 100%;
}

.filter {
   display: flex;
   justify-content: center;
   gap: 2em;
   margin-top: 2rem;

   &__select {
      border: 1px solid #0E95AC;
      font-size: 1em;
      color: #222;
      width: 8rem;

      &:hover {
         cursor: pointer;
      }
   }
}