* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.cardContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
}

.container {
   margin: 3rem auto;
   max-width: 1200px;
   padding: 1em;
   width: 100%;
}